canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 300px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 200;
  font-style: normal;
}

header {
  backdrop-filter: blur(5px);
  border: 1px dotted black;
  box-shadow: 8px 8px 5px black;
  border-radius: 25px;
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  backdrop-filter: blur(5px);
  border: 1px dotted black;
  box-shadow: 8px 8px 5px black;
  border-radius: 25px;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.left {
  grid-column: 4 / 12;
}


blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 10;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: white;
  backdrop-filter: blur(5px);
  border: 1px dotted black;
  border-radius: 25px;
  font-size: 2rem;
  display: inline;
  line-height: 1;
}
