@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  backdrop-filter: blur(15px);
  box-shadow: 1px 5px 5px 0 black;
}

.logo {
  margin: 6px 25px;
  display: flex;
}

.logo .logo-title {
  font-size: 1.5rem;
  margin: 0.5rem 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  font-size: 2.5rem;
}

.instructions {
  color: yellow;
  font-size: 1.8rem;
  margin-right: 30px;
  cursor: pointer;
}

.modal {
  position: fixed;
  backdrop-filter: blur(101px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  padding: 20px;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.2em;
  background-color: black;
  border-radius: 5px;
}

.close {
  color: white;
  line-height: 45px;
  font-size: 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 15px;
  width: 85px;
  text-decoration: none;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 300px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  height: 80vh;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

blockquote {
  font-family: elevon, sans-serif;
  font-weight: 200;
  font-style: normal;
}

header {
  backdrop-filter: blur(5px);
  border: 0.5px solid black;
  box-shadow: 8px 8px 5px black;
  border-radius: 25px;
  grid-column: 2 / span 5;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 50px;
  margin-left: 90px;
  margin-bottom: var(--spacing);
  width: 40%;
  z-index: 1;
  color: white;
}

.data {
  display: block;
  grid-column: 2 / 8;
  padding: 1rem;
  backdrop-filter: blur(8px);
  border: 1px solid black;
  box-shadow: 8px 8px 5px black;
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

h2 {
  color: white;
  font-size: 40px;
  font-family: "Rampart One", cursive;
}

.right {
  display: block;
  grid-column: 6 / 12;
  backdrop-filter: blur(8px);
  border: 1px d black;
  box-shadow: 8px 8px 5px black;
  border-radius: 25px;
  margin-bottom: 90px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

ul li {
  color: yellow;
}

.social-menu ul li {
  list-style: none;
  margin: 2px 20px;
  display: inline-block;
  font-size: 32px;
  padding: 12px 18px;
  border: 1px solid white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.social-menu ul li a {
  color: white;
}

#one:hover {
  background-color: #88f78c;
}

#two:hover {
  background-color: #e5f257;
}

#three:hover {
  background-color: #eb0e45;
}

#four:hover {
  background-color: white;
}

#five:hover {
  background-color: #c218ed;
}

#six:hover {
  background-color: black;
}

.fa-envelope:hover {
  color: red;
}
.fa-linkedin:hover {
  color: #0a66c2;
}

.fa-github:hover {
  color: #000;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

.fa-dev:hover {
  color: #000;
}

.fa-facebook:hover {
  color: #1877f2;
}
